<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Linh Webview</title>
</head>
<script>
  window.fbAsyncInit = function () {
    FB.init({
      appId: '675499836466181',
      xfbml: true,
      version: 'v9.0'
    });
    FB.AppEvents.logPageView();
    MessengerExtensions.getContext('675499836466181',
      function success(thread_context) {
        console.log('******* thread_context: ', thread_context);
        // success
        document.getElementById('psid').value = thread_context.psid;
      },
      function error(err) {
        // error
        console.log(err);
      }
    );
  };
  (function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) { return; }
    js = d.createElement(s); js.id = id;
    js.src = "https://connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  function handleClickSave() {
    // close the webview
    MessengerExtensions.requestCloseBrowser(function success() {
      // webview closed
      console.log('close webview');
    }, function error(err) {
      // an error occurred
      console.log(err);
    });
  }
</script>

<body>
  <form action="/webview" method="POST">
    <input type="text" hidden name="psid" id="psid">
    <h3>Pillow</h3>
    <input type="radio" value="hard" name="pillow" id="hardPillow" checked>
    <label for="hardPillow">Hard</label>
    <input type="radio" value="soft" name="pillow" id="softPillow">
    <label for="softPillow">Soft</label>

    <h3>Bed</h3>
    <input type="radio" value="single" name="bed" id="singleBed" checked>
    <label for="singleBed">Single</label>
    <input type="radio" value="double" name="bed" id="doubleBed">
    <label for="doubleBed">Double</label>
    <br />
    <br />
    <div>
      <button type="submit" onclick="handleClickSave">Save</button>
    </div>
  </form>
  <div class="fb-like" data-share="true" data-width="450" data-show-faces="true">
  </div>
</body>

</html>