<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Linh Webview</title>

  <script>
    (function (d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) { return; }
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/messenger.Extensions.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'Messenger'));

    window.extAsyncInit = function () {
      MessengerExtensions.getContext('675499836466181',
        function success(thread_context) {
          // success
          document.getElementById('psid').value = thread_context.psid;
        },
        function error(err) {
          // error
          console.log(err);
        }
      );
    };

    function handleClickSave() {
      // close the webview
      MessengerExtensions.requestCloseBrowser(function success() {
        // webview closed
        console.log('close webview');
      }, function error(err) {
        // an error occurred
        console.log(err);
      });
    }
  </script>
</head>

<body>
  <form action="/webview" method="POST">
    <input type="text" hidden name="psid" id="psid">
    <h3>Pillow</h3>
    <input type="radio" value="hard" name="pillow" id="hardPillow" checked>
    <label for="hardPillow">Hard</label>
    <input type="radio" value="soft" name="pillow" id="softPillow">
    <label for="softPillow">Soft</label>

    <h3>Bed</h3>
    <input type="radio" value="single" name="bed" id="singleBed" checked>
    <label for="singleBed">Single</label>
    <input type="radio" value="double" name="bed" id="doubleBed">
    <label for="doubleBed">Double</label>
    <br />
    <br />
    <div>
      <button type="submit" onclick="handleClickSave">Save</button>
    </div>
  </form>
</body>

</html>